#main {
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  background: white;
  width: 75%;
  height: 50%;
  text-align: center;
  padding: 16px;
}
#main-image {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  max-width:100%;
  max-height:50%;
}
#main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
button {
  padding: 5px;
  border: 1px solid black;
  font-weight: bold;
}
